<a href="https://colab.research.google.com/github/ashrafalaghbari/Machine-learning/blob/main/customer_churn_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd
import numpy as np
import ast
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor
from itertools import combinations
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import r2_score, mean_squared_error
from math import inf

In [39]:
df =  pd.read_csv("/content/WA_Fn-UseC_-Telco-Customer-Churn.csv")

In [36]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [51]:
df[['Contract','tenure','MonthlyCharges','TotalCharges']].loc[df['tenure'] == 2].head(60)

            Contract  tenure  MonthlyCharges TotalCharges
2     Month-to-month       2           53.85       108.15
4     Month-to-month       2           70.70       151.65
31    Month-to-month       2           95.50       181.65
46    Month-to-month       2           49.25           97
47    Month-to-month       2           80.65       144.15
134   Month-to-month       2           44.35        81.25
162   Month-to-month       2           69.70        135.2
171   Month-to-month       2          104.40        242.8
210   Month-to-month       2           46.00         84.5
235   Month-to-month       2           54.40        114.1
251   Month-to-month       2           70.40       147.15
258   Month-to-month       2           44.60        80.55
327   Month-to-month       2           70.35       139.05
334   Month-to-month       2           80.60        155.8
346   Month-to-month       2           90.40        168.2
371   Month-to-month       2           85.65        181.5
392   Month-to-month       2           44.30         89.3
432   Month-to-month       2           53.45        119.5
458   Month-to-month       2           20.00           38
491   Month-to-month       2           59.00       114.15
492   Month-to-month       2           74.40        139.4
507   Month-to-month       2           94.20        167.5
532   Month-to-month       2           79.95       174.45
579   Month-to-month       2           19.65         38.8
601         One year       2           19.95         47.7
648   Month-to-month       2           89.50        161.5
658         One year       2           19.85         35.9
666   Month-to-month       2           69.65       145.15
677   Month-to-month       2           34.70        62.25
687   Month-to-month       2           49.25         91.1
703   Month-to-month       2           20.55         33.6
720         One year       2           20.20        34.75
741   Month-to-month       2           80.45        137.1
754   Month-to-month       2           90.35        190.5
777   Month-to-month       2           82.00       184.65
779   Month-to-month       2           45.35         89.5
795   Month-to-month       2           64.20       143.65
816   Month-to-month       2           86.20        178.7
852   Month-to-month       2           24.85           62
900   Month-to-month       2           19.50        27.55
950   Month-to-month       2           44.95        85.15
969   Month-to-month       2           96.00        174.8
999   Month-to-month       2           70.30        132.4
1007  Month-to-month       2           68.95       119.75
1058  Month-to-month       2           89.55       185.55
1070  Month-to-month       2           69.75       144.55
1071  Month-to-month       2           49.05         91.1
1083  Month-to-month       2           80.95       171.15
1133  Month-to-month       2           19.25        48.35
1148  Month-to-month       2           95.15        196.9
1223  Month-to-month       2           75.90       143.35
1255  Month-to-month       2           30.90        59.05
1260  Month-to-month       2           50.30        92.75
1261  Month-to-month       2           80.15       194.55
1335  Month-to-month       2           45.00        96.45
1381  Month-to-month       2           70.70        129.2
1410  Month-to-month       2           93.85       170.85
1436  Month-to-month       2           91.40        193.6
1476  Month-to-month       2           20.25         36.8
1486  Month-to-month       2           55.05       102.75

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [15]:
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')

In [16]:
df.iloc[488]

customerID                         4472-LVYGI
gender                                 Female
SeniorCitizen                               0
Partner                                   Yes
Dependents                                Yes
tenure                                      0
PhoneService                               No
MultipleLines                No phone service
InternetService                           DSL
OnlineSecurity                            Yes
OnlineBackup                               No
DeviceProtection                          Yes
TechSupport                               Yes
StreamingTV                               Yes
StreamingMovies                            No
Contract                             Two year
PaperlessBilling                          Yes
PaymentMethod       Bank transfer (automatic)
MonthlyCharges                          52.55
TotalCharges                              NaN
Churn                                      No
Name: 488, dtype: object

In [18]:
df.isnull().sum()

customerID           0
gender               0
SeniorCitizen        0
Partner              0
Dependents           0
tenure               0
PhoneService         0
MultipleLines        0
InternetService      0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
Contract             0
PaperlessBilling     0
PaymentMethod        0
MonthlyCharges       0
TotalCharges        11
Churn                0
dtype: int64

In [22]:
df[df.isnull().any(axis=1)]

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
488,4472-LVYGI,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,...,Yes,Yes,Yes,No,Two year,Yes,Bank transfer (automatic),52.55,NaN,No
753,3115-CZMZD,Male,0,No,Yes,0,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.25,NaN,No
936,5709-LVOEQ,Female,0,Yes,Yes,0,Yes,No,DSL,Yes,...,Yes,No,Yes,Yes,Two year,No,Mailed check,80.85,NaN,No
1082,4367-NUYAO,Male,0,Yes,Yes,0,Yes,Yes,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.75,NaN,No
1340,1371-DWPAZ,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,...,Yes,Yes,Yes,No,Two year,No,Credit card (automatic),56.05,NaN,No
3331,7644-OMVMY,Male,0,Yes,Yes,0,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,19.85,NaN,No
3826,3213-VVOLG,Male,0,Yes,Yes,0,Yes,Yes,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.35,NaN,No
4380,2520-SGTTA,Female,0,Yes,Yes,0,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.00,NaN,No
5218,2923-ARZLG,Male,0,Yes,Yes,0,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,One year,Yes,Mailed check,19.70,NaN,No
6670,4075-WKNIU,Female,0,Yes,Yes,0,Yes,Yes,DSL,No,...,Yes,Yes,Yes,No,Two year,No,Mailed check,73.35,NaN,No
6754,2775-SEFEE,Male,0,No,Yes,0,Yes,Yes,DSL,Yes,...,No,Yes,No,No,Two year,Yes,Bank transfer (automatic),61.90,NaN,No

In [32]:
df.loc[9]

customerID                         6388-TABGU
gender                                   Male
SeniorCitizen                               0
Partner                                    No
Dependents                                Yes
tenure                                     62
PhoneService                              Yes
MultipleLines                              No
InternetService                           DSL
OnlineSecurity                            Yes
OnlineBackup                              Yes
DeviceProtection                           No
TechSupport                                No
StreamingTV                                No
StreamingMovies                            No
Contract                             One year
PaperlessBilling                           No
PaymentMethod       Bank transfer (automatic)
MonthlyCharges                          56.15
TotalCharges                          3487.95
Churn                                      No
Name: 9, dtype: object

In [41]:
# remove customerID variable 
df = df.iloc[:,1:]

* **Demographic variables:** 'gender', 'SeniorCitizen', 'Partner', 'Dependents'
* **Contracts and billing:** 'Contract', 'PaperlessBilling','PaymentMethod',
* **Additional services used:** 'PhoneService', 'MultipleLines', 'InternetService','OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport','StreamingTV', 'StreamingMovies'
* **Customer monetary value and tenure:** 'MonthlyCharges', 'TotalCharges','tenure'
* **Churn behavior:** 'Churn'

In [42]:
#count both categorical and numerical columns
cat_features = df.select_dtypes(include=['object', 'category']).shape[1]
num_features = df.select_dtypes(include=['int64', 'float64']).shape[1]

print(f"The number of categorical features in the DataFrame is: {cat_features}")
print(f"The number of numerical features in the DataFrame is: {num_features}")

The number of categorical features in the DataFrame is: 17
The number of numerical features in the DataFrame is: 3

In [9]:
df.describe(include='O')

,customerID,gender,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,TotalCharges,Churn
count,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043
unique,7043,2,2,2,2,3,3,3,3,3,3,3,3,3,2,4,6531,2
top,7590-VHVEG,Male,No,No,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,,No
freq,1,3555,3641,4933,6361,3390,3096,3498,3088,3095,3473,2810,2785,3875,4171,2365,11,5174

In [ ]:
#encode categorical features
cat_features = df.select_dtypes(include='object')
# Use the get_dummies function to one-hot encode the categorical features
df_encoded = pd.get_dummies(cat_features)
pd.get_dummies(df_encoded )

In [52]:
cat_features['TotalCharges'].astype('float64')

ValueError: ignored

In [25]:
from sklearn.model_selection import train_test_split

# split data into 80% training and 20% test sets
train, test = train_test_split(df, test_size=0.2, random_state=42)
print(f'Training set: {train.shape} shape')
print(f'Test set: {test.shape} shape')

Training set: (5634, 21) shape
Test set: (1409, 21) shape

In [28]:
# remove customerID and churn 
cluster_set = train.iloc[:,1:-1]
print(f'cluster_set: {cluster_set.shape} shape')

cluster_set: (5634, 19) shape